@model R_AZURE.Models.VolModel
@{
    ViewData["Title"] = "RESERVEZ VOTRE VOLS AU MEILLEURS PRIX";
    Layout = "~/Views/Shared/_LayoutVol.cshtml";
}

<div class="text-center">
    <h1><span class="badge badge-primary">@ViewData["Title"]</span></h1>
    <div id="div-vols">
        <p>Vol numéro : @Model.numVol</p>
        <p>Départ : @Model.depart</p>
        <p>Arriver : @Model.arriver</p>
        <p>Date Départ : @Model.heureDepart.ToString("MM/dd/yyyy")</p>
        <p>Heure Départ : @Model.heureDepart.ToString("HH:mm")</p>
        <p>Date Arrivée : @Model.heureArriver.ToString("MM/dd/yyyy")</p>
        <p>Heure Arrivée : @Model.heureArriver.ToString("HH:mm")</p>
        <p>Nombre de place restante :  @Model.place</p>
    </div>



</div>


@***************Code JQuery ******************@ 
@section VolsJs
{

}